<h1>Sign Up</h1>

<%= form_for @user do |f| %>
<div>
    <%= f.text_field :firstname, :placeholder=>"First Name" %>
</div>

<div>
     <%= f.text_field :lastname, :placeholder=>"Last Name" %>
</div>

<div>
    <%= f.text_field :email, :placeholder=>"Email" %>
</div>

<div>
    <%= f.password_field :password, :placeholder=>"Password" %>
</div>

<div>
     <%= f.password_field :password_confirmation, :placeholder=>"Password Confirmation" %>
</div>

<div>
    <%= f.submit %>
</div>

<% end %>

<%= link_to "About", "/about" %> <br>
<%= link_to "Contact", "/contact" %> <br>
<%= link_to "Review A Wine You've Had", new_wine_path %> <br>
<%= link_to "Back To Wine List", wines_path %> <br>
<%= link_to "Home", "/home" %>
