<h1>Sign Up</h1>

<%= form_for @user do |f| %>

<div class="form-group">
    <%= f.text_field :firstname, :placeholder=>"First Name", :class => "form-control" %>
</div>

<div class="form-group">
     <%= f.text_field :lastname, :placeholder=>"Last Name", :class => "form-control" %>
</div>

<div class="form-group">
    <%= f.text_field :email, :placeholder=>"Email", :class => "form-control" %>
</div>

<div class="form-group">
    <%= f.password_field :password, :placeholder=>"Password", :class => "form-control" %>
</div>

<div class="form-group">
     <%= f.password_field :password_confirmation, :placeholder=>"Password Confirmation",:class => "form-control" %>
</div>

<div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
</div>

<% end %>


<%= link_to "Review A Wine You've Had", new_wine_path, :class => "btn btn-success" %> 



