<h1>Edit</h1>

<%= form_for @wine do |f| %>

    <div>
         <%= f.text_field :vintage, :placeholder=>"Vintage" %>
    </div>

    <div>
        <%= f.text_field :predominant_variety, :placeholder=>"Predominant Variety"%>
    </div>

    <div>
        <%= f.text_field :country, :placeholder=>"Country" %>
    </div>

    <div>
         <%= f.text_field :region, :placeholder=>"Region"%>
    </div>

    <div>
         <%= f.text_field :producer, :placeholder=>"Producer" %>
    </div>

    <div>
         <%= f.text_field :vineyard, :placeholder=>"Vineyard" %>
    </div>


    <%= f.submit "Submit changes" %>

<% end %>

<%= link_to "Back to list", wines_path %>
