<h1>Add a new wine!</h1>

<%= form_for @wine do |f| %>

    <div>
        <%= f.label :country %>
        <%= f.text_field :country %>
    </div>

    <div>
        <%= f.label :region %>
        <%= f.text_field :region %>
    </div>

    <div>
        <%= f.label :producer %>
        <%= f.text_field :producer %>
    </div>

    <div>
        <%= f.label :predominant_variety %>
        <%= f.text_field :predominant_variety %>
    </div>

    <div>
        <%= f.label :vintage %>
        <%= f.text_field :vintage %>
    </div>

    <%= f.submit "Add" %>

<% end %>

<%= link_to "Back to list", wine_path %>