<p><%= @wine.vintage %> <%= @wine.predominant_variety %> from the <%= @wine.region %> region of the <%= @wine.country%>.  The producer is <%= @wine.producer%> and the vineyard is <%= @wine.vineyard%>.</p>

<% @wine.reviews.each do |review| %>
	<%=review.rating%>
	<%=review.comments%>
	<%=review.paired_with%>
<%end%>

<% @user.

<br>

<%= link_to "Back to wine list", wines_path %>
<%= link_to "Delete", wine_path, method: :delete, data: { confirm: "Are you sure you want to delete this wine?"} %>
<%= link_to "Edit", edit_wine_path( @wine ) %>
<%= link_to "Add a Review", new_wine_review_path( @wine ) %>