<!DOCTYPE html>
<html>
<head>
  <title>Keith</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	You are logged in as <%= current_user.email %> <br>
	<%= link_to "Log Out", logout_path, method: :delete %>
<%end%>

<%= render 'layouts/nav' %>

<div class="container"> 
	<%= yield %>
</div>


</body>
</html>
